.table-row-cell:selected {
    -fx-background-color: #48a832;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.table-column {
  -fx-alignment: CENTER;
}

.table-view {
    -fx-focus-color: #48464b;
}